{% extends 'base.html' %}
{% block content %}

{% if current_user() %}
<section class="page">
    <section class="controls">
        <h1>{{ current_user()['first_name'] }}s Lists</h1>

        <section class="user_controls">
            <form action="/sessions/delete" method="POST">
                <button>Sign Out</button>
            </form>

            <form action="/sessions/remove" method="POST">
                <button>Remove Profile</button>
            </form>

            <a href="/lists/new">➕</a>
        </section>
    </section>

    <section class="all_lists">
        {% for list in lists %}
            <a class="lists" href="/lists/{{ list['id'] }}/list">
                <h2 class="remove_spacing">{{ list['name'] }}</h2>

                <section class="controls">
                    <a href="/lists/{{ list['id'] }}/share.html" class="remove_spacing">🔗</a>

                    <form action="/lists/{{ list['id'] }}/delete" method="POST" class="remove_spacing">
                        <button>🗑️</button>
                    </form>
                </section>
            </a>  
        {% endfor %}
    </section>
</section>
{% else %}
<a class="login" href="/users/new">Add New User</a>
<a class="login" href="/sessions/new">Log In</a>
{% endif %}
{% endblock %}