{% extends 'base.html' %}

{% block content %}
<a href="/lists">
    <section class="hamburger_stack">cvcvvbc</section>
</a>

<section class="list_title">
    <h1>{{ lists_name[0]['name'] }} List</h1>
    <h1>{{ lists_name[0]['id'] }} LIST ID FOR TESTING</h1>

    <form action="/{{ lists_name[0]['id'] }}/create_item" method="POST">
        <input type="text" placeholder="Add Item" name="add_item">
        <button>Add Item</button>
    </form>
    <!-- <a href="/lists/{{ lists_name[0]['id'] }}/new_item">➕ Add Item</a> -->
</section>

{% for item in list %}
    <section class="item">
        <section>
            <input type="checkbox" class="round">
            <h3>{{ item['name'] }}</h3>
            {{ item['id'] }}
        </section>
        
        <form action="/lists/{{ item['id'] }}/list/delete" method="POST">
            <button>🗑️</button>
        </form>
    </section>
{% endfor %}
</section>
{% endblock %}