{% extends 'base.html' %}
{% block content %}
<section class="page">
    <section class="list_header">
        <a href="/lists">
            <section class="hamburger_stack">
                <section class="burger"></section>
                <section class="burger"></section>
                <section class="burger"></section>
            </section>
        </a>

        <h3>{{ lists_name[0]['name'] }} List</h3>
    </section>

    <form action="/lists/{{ lists_name[0]['id'] }}/list/create" method="POST">
        <input type="text" placeholder="Add Item" name="add_item" class="add_item" autofocus>
    </form>

    <section class="all_items">
        {% for item in list %}
            <section class="items">
                <section class="remove_spacing">
                    <button class="item_name"><h4>{{ item['name'] }}</h4></button>
                </section>
                
                <section class="controls">
                    <a href="/lists/{{ item['id'] }}/edit_item.html" class="remove_spacing">✏️</a>
                    <a href="/lists/{{ item['id'] }}/move.html" class="remove_spacing">📄</a>
                    
                    <form action="/lists/{{ item['id'] }}/list/delete" method="POST" class="remove_spacing">
                        <button>🗑️</button>
                    </form>
                </section>
            </section>
        {% endfor %}
    </section>
</section>
{% endblock %}